<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>bash</string>
		<string>git</string>
		<string>osx</string>
		<string>r</string>
		<string>vim</string>
		<string>web</string>
		<string>linux</string>
		<string>python</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
